<%= form_for(@verb) do |f| %>
  <div class="row">
    <div class="large-4 columns">
      <%= label_tag :infinitive %>
      <%= text_field_tag :infinitive %>
    </div>
    <div class="large-4 columns">
      <%= label_tag :translation %>
      <%= text_field_tag :translation %>
    </div>
    <div class="large-4 columns">
      <%= label_tag :group %>
      <%= select_tag(:group, options_for_select([['I', 1], ['II', 2], ['III', 3]]), :class=>'select_group') %>
    </div>

  </div>

  <% @tenses_new.each_with_index do |tense, index| %>
    <% if (index%3) == 0 %>
      <div class="row">
    <% end %>
        <div class="large-4 columns">
            <% t = tense.to_s %>
            <h3><%= t %></h3>
              <%= label_tag :je %><% name = t + "__je" %> <%= text_field_tag name %>
              <%= label_tag :tu %> <% name = t + "__tu" %> <%= text_field_tag name %>
              <%= label_tag :il_elle %> <% name = t + "__il" %> <%= text_field_tag name %>
              <%= label_tag :nous %> <% name = t + "__nous" %> <%= text_field_tag name %>
              <%= label_tag :vous %> <% name = t + "__vous" %> <%= text_field_tag name %>
              <%= label_tag :ils %> <% name = t + "__ils" %> <%= text_field_tag name %>
        </div>
      <% if (index%3) == 2 %>
        </div>
      <% end %>
  <% end %>
  </div>
  <div class="row">
  <%= submit_tag "Add"%>
  </div>
<% end %>