<div class="row"><h1>What is the form... </h1></div>
<div ng-controller="PracticeCtrl">
  <div class="row">
     Verb: <span ng-model="infinitive"><%= @verb.infinitive %></span>
    <span> Tense: <%= @tense %> </span>
    <span> Form: <%= @form %> </span>

    <%= form_tag do %>
      <%= text_field_tag(:answer,  '', :'ng-model' => 'verb.answer' )%>
      <%= hidden_field_tag(:infinitive, @verb.infinitive)%>
      <%= hidden_field_tag(:tense, @tense)%>
      <%= hidden_field_tag(:form, @form)%>

      <%= submit_tag("Check!", :'ng-click' => 'checkAnswer(infinitive, $event)' ) %>
    <% end %>
  </div>
  <!-- {{infinitive}}
  <div class="row">
    <ul>
      <li ng-repeat="v in verbs">
        {{v.infinitive}}({{v.tense}}, {{v.form}})<br/>
        Your answer: {{v.answer}}<br/>
        Correct answer: {{v.correct}}
      </li>
    </ul>
  </div> -->
</div>