<div class="row"><h1>Conjugation: <%= @verb.infinitive %></h1></div>
<div class="row">
  <h4>Polish translation:
  <%= @verb.translation ? @verb.translation : "-" %>
  </h4>
</div>
  <% @tenses.each_with_index do |tense, index| %>
    <% if (index%3) == 0 %>
      <div class="row">
    <% end %>
    <div class="large-4 columns">
      <h3><%= tense.to_s.capitalize %></h3>
      <% @forms.each do |form| %>
        <b><%= form.to_s.capitalize %> </b><%= @verb.send(tense).send(form) %><br/>
      <% end %>
    </div>

    <% if (index%3) == 2 %>
        </div>
    <% end %>
  <% end %>
